
#body {
    margin: 0px;
}

.header {
    background: black;
    height: 63px;
	overflow: hidden;
	height: 64px;
}

#logo {
	display: inline;
	float:left;
    margin-top: 6px;
    margin-bottom: 8px;
    margin-left: 4px;
}

#loginSlot {
	display: inline;
	position:relative;
	float: left;
}

#loginForm{
	border: solid black 1px;
	margin-left: 5px;
	margin-top: 12px;
	margin-right: 10px;
	margin-bottom: 2px;
	padding: 10px;
    display:inline-block;
    float:right;
}

.pugDiv {
    display: inline;
    width: auto;
    height: auto;
}

.pug {
    height: 60px;
    width: auto;
    max-width: 100%;
}

h1 {
    display:inline;
    margin: 0px;
    color: white;
    font-family: arial;
    font-size: 218%;
}

#introText {
	margin-top: 25px;
	font-family: arial;
    margin-bottom: 10px;
	margin-left: 10px;
}

#logOutAndReturnSlot {
	font-family: arial;
	margin-left: 7px;
	margin-top:15px;
	color: red;
    display:inline-block;
	position:absolute;
    float:left;
}

#logoutAndReturnContainer {
	border-bottom: black solid 1px;
	margin-left: 5px;
	margin-top:5px;
	color: red;
    display:inline-block;
	position:absolute;
    float:left;
}

#logoutAndReturnText {
	margin-top: -3px;
}

#logOut {
	color: grey;
}

#returnToMain {
	color: grey;
}

#postButtonContainer {
	margin-left: 10px;
}

#main {
	margin-top: 20px;
	margin-left: 20px;
}



#emailLabel {
	font-family: arial;
    width: 200px;
    margin: 0px;
    color: grey;
}

#passwordLabel {
	font-family: arial;
    color: grey;
}

#loginButton {
    display: inline;
}

#registerLink {
	font-family: arial;
    float:right;
	padding-top: 10px;
    color: grey;
}

a {
    text-decoration: none;
}

#userPost {
	width: 200px;
	height:200px;
	padding-top: 70px;
	padding-bottom: 10px;
	padding-left: 50px;
	padding-right: 10px;
    margin-top: 20px;
	border: solid black 3px;
	margin-left: 75px;
}

h3 {
	font-family: arial;
	color: grey;
}

#regForm {
	width: 200px;
	height:300px;
	padding-top: 20px;
	padding-bottom: 40px;
	padding-left: 50px;
	padding-right: 30px;
	margin-top: 30px;
	border: solid grey 3px;
	margin-left: 15px;
}

.regisLabels {
	font-family: arial;
	color: grey;
}

#postHeadline {
    font-family: arial;
    color: grey;
}

#postURL {
    font-family: arial;
    color: grey;
}

#linkContainer {
	margin-top: 50px;
}

li {
	list-style-type: none;
}

#storyLink {
	text-decoration: none;
	color: red;
	font-size: 22pt;
}

#storyContainer {
	margin-top: 20px;
	margin-bottom: 20px;
}

.mainStory {
	font-family: arial;
	color: red;
	margin-bottom: 1px;
	display:inline-block;
}

.storyTimestamp {
	font-family: arial;
	color: grey;
	font-size: 10pt;
	margin-bottom: 5px;
}

.mainComment {
    font-size: 10pt;
	font-family: arial;
	color: white;
    border: solid grey 1px;
    padding: 2px;
    background-color: grey;
}

.commentDiv {
	margin-top: 20px;
}

.commentText {
    font-family: arial;
    color: black;
}

.commentTimestamp {
    font-family: arial;
    font-size: 10pt;
    color: grey;
}

#commentInputLabel {
    font-family: arial;
    color: grey;
}
