#stefansDiv {
	margin-top: 20px;
	display:inline-block;
    float:right;
}

@media only screen and (max-device-width: 480px) {
		#body {
			width: 400px;
		}

		div#header {
			background-image: url(media-queries-phone.jpg);
			height: 93px;
			position: relative;
		}

		div#header h1 {
			font-size: 140%;
		}

		#content {
			float: none;
			width: 100%;
		}

		#navigation {
			float:none;
			width: auto;
		}
	}

#body {
    margin: 0px;
}

.header {
	min-width: 960px;
    background: black;
    height: 63px;
	overflow: hidden;
	height: 64px;
}

#logo {
    position: absolute;
    width: 50%;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 4px;
}

.pugDiv {
    display: inline;
    width: 70px;
    height: 70px;
}

.pug {
    height: 60px;
    width: auto;
    max-width: 100%;
}

h1 {
    display:inline;
    margin: 0px;
    color: white;
    font-family: arial;
    font-size: 60px;
}

#logoutAndReturnContainer {
	margin-top: 40px;
	margin-right: 10px;
    display:inline-block;
    float:right;
	font: white;
}

#main {
	margin-top: 20px;
	margin-left: 20px;
}

#loginForm{
	margin-top: 5px;
    display:inline-block;
    float:right;
}

/*#emailLabel {
    width: 200px;
    margin: 0px;
    color: white
}

#passwordLabel {
    color: white;
}*/

#loginButton {
    display: inline;
}

#registerLink {
    float:right;
    color: white;
}

a {
    text-decoration: none;
}

#regForm{

}

#userPost {
	width: 200px;
	height:200px;
	padding-top: 70px;
	padding-bottom: 10px;
	padding-left: 50px;
	padding-right: 10px;
    margin-top: 20px;
	border: solid black 3px;
	margin-left: 75px;
}

#regForm {
	width: 200px;
	height:200px;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 50px;
	padding-right: 10px;
	margin-top: 20px;
	border: solid black 3px;
	margin-left: 75px;
}

.button {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

#postButtonContainer {
    margin-top: 20px;
	position: absolute;
	right: 0px;
}
