
#body {
    margin: 0px;
}

.header {
    background: black;
    height: 63px;
	overflow: hidden;
	height: 64px;
}

#logo {
	display: inline;
	float:left;
    margin-top: 6px;
    margin-bottom: 8px;
    margin-left: 4px;
}

#loginSlot {
	display: inline;
	position:relative;
	float: left;
}

#loginForm{
	border: solid black 1px;
	margin-left: 10px;
	margin-top: 5px;
	margin-right: 10px;
	padding: 5px;
    display:inline-block;
    float:right;
}

.pugDiv {
    display: inline;
    width: auto;
    height: auto;
}

.pug {
    height: 60px;
    width: auto;
    max-width: 100%;
}

h1 {
    display:inline;
    margin: 0px;
    color: white;
    font-family: arial;
    font-size: 218%;
}

#logoutAndReturnContainer {
	z-index: 100;
	margin-left: 5px;
	margin-top:5px;
	color: red;
    display:inline-block;
	position:absolute;
    float:left;
}

#logoutAndReturnText {
	margin-top: -3px;
}

#logOut {
	color: grey;
}

#returnToMain {
	color: grey;
}

#main {
	margin-top: 20px;
	margin-left: 20px;
}



#emailLabel {
    width: 200px;
    margin: 0px;
    color: black
}

#passwordLabel {
    color: black;
}

#loginButton {
    display: inline;
}

#registerLink {
    float:right;
    color: black;
}

a {
    text-decoration: none;
}

#regForm{

}

#userPost {
	width: 200px;
	height:200px;
	padding-top: 70px;
	padding-bottom: 10px;
	padding-left: 50px;
	padding-right: 10px;
    margin-top: 20px;
	border: solid black 3px;
	margin-left: 75px;
}

#regForm {
	width: 200px;
	height:200px;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 50px;
	padding-right: 10px;
	margin-top: 20px;
	border: solid black 3px;
	margin-left: 75px;
}

.button {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

#postButtonContainer {
    margin-top: 20px;
	position: absolute;
	right: 0px;
}

#storyLink {
	text-decoration: none;
	color: red;
	font-size: 22pt;
}

#storyContainer {
	margin-bottom: 20px;
}

.mainStory {
	color: red;
	margin-bottom: 5px;
	display:inline-block;
}

.mainComment {
	margin-left: 28px;
	padding: px;
	border: solid black 2px;
	background-color: black;
	color: white;
}

.commentDiv {
	margin-top: 20px;
}
